.center img {
    display: block;
    margin: 0 auto;
  }

  .map img {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
  }


  .centered-container {
    display: flex;
    justify-content: center; /* Center the container horizontally */
}

.image-container {
    display: flex;
    margin: 0 -10px; /* Add negative margin to create space between images */
}

.image-container img {
    width: 30%;
    margin: 0 70px; /* Add space on both sides of each image */
    height: auto;
}

figure {
  display:inline-block;
  text-align: center;
  margin: 30px;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  color: #555;
  margin: 20px;
}


/* Button container */
.button-container {
  text-align: center;
  margin-bottom: 20px; /* Space between buttons and plot */
}

/* Button styles */
button {
  font-size: 18px;
  padding: 15px 30px;
  margin: 10px;
  width: 150px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: white;
}

/* Active button (optional) */
button.active {
  background-color: #0056b3;
  color: white;
}


/* Plot container */
#plot-container {
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Space between buttons and iframe */
}

/* Iframe styling */
#plot-frame {
  width: 100%;
  height: 800px; /* Adjust height as needed */
  max-width: 1000px; /* Optional: limit the max width */
  border: none;
}
